<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Personal Values From Surveys</h1>

            <div class="content">
                
                <p>{{ session['survey_text'] }}</p>

                <a class="button is-primary" href="/survey">Take Survey</a>
            </div>
            
                </div>
            </section>